

Parts:
Partner(name nachname: "Mustermann"):
{
    "name": $name
    "nachname": $nachname
}
-

Simon:
$Partner("Simon" "Taddiken")
-

Hasi:
$Partner(name: "Katha" nachname: "Taddiken")
-

Transfer(verfuegbar_bis nochn_partner):
{
    "verfuegbar_bis": $verfuegbar_bis
    "Partner": [
        $Partner("Max", "Mustermann"),
        $Partner("Erika", "Mustermann"),
        $Simon,
        $nochn_partner
    ]
}
-
